footer {
  padding: 10px 0;
  margin-top: 60px;
}
.footer_heading_div {
  padding: 7px 5px 5px 20px;
}
.footer_heading_div img {
  height: 35px;
  width: 35px;
}
.footer_companyName {
  display: flex;
}

.footer_companyName_div {
  display: flex;
  flex-direction: column;
}
.footer_companyName_div p {
  color: #ffffff !important;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px;
}

footer .footer_title {
  font-size: 2rem;
  margin: 0 0 0 0.5rem;
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer_heading_div p {
  color: #707070;
}
.footer_sub1_div {
  color: #ffffff;
  display: flex;
  padding: 20px 20px;
  gap: 5px;
}
.footer_sub1_div h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer_sub1_div p {
  margin-bottom: 10px;
  font-weight: 200;
}
.footer_sub1_div span {
  color: #707070;
}
.footer_sub2_div {
  color: #ffffff;
  padding: 0 20px;
}
.footer_sub2_div h1 {
  font-size: 25px;
  font-weight: 400;
  margin: 15px 0;
}
.footer_icons {
  color: #2de300;
  margin: 0 5px 0 0;
  font-size: 30px;
}
.footer_sub2_div input {
  padding: 7px 10px;
  width: 100%;

  border-radius: 5px;
  border: 1px solid #94a3b8;
  transition: border-color 0.2s ease;
}
.footer_sub2_div input::placeholder {
  color: #707070;
}

.footer_sub2_div input:focus {
  border: 1px solid #3f464f;
  outline: none;
}

.footer_sub2_div button {
  width: 100%;
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #2de300;
  color: #252b32;
  font-weight: 600;
  border: none;
}
.footer_copyright_div {
  margin-top: 15px;
  line-height: 1.5;
  text-align: center;
}
.footer_copyright_div p {
  color: #707070;
  font-size: 15px;
}
.footer_copyright_div span {
  color: #ffffff;
  font-size: 15px;
}

@media (min-width: 450px) {
  .footer_sub1_div {
    gap: 20%;
  }
}

@media (min-width: 768px) {
  .footer_main_div {
    display: flex;
  }
  .footer_subMain_div {
    display: flex;
  }
  .footer_copyright_div {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .footer_main_div {
    display: flex;
    gap: 50px;
  }
  .footer_subMain_div {
    display: flex;
    gap: 50px;
  }
  .footer_sub1_div {
    gap: 50px;
  }
}
